# dependencies
node_modules/

# env
.env
.env.local

# secrets
*firebase-adminsdk*.json
*serviceAccount*.json

# build output
dist/
build/

# logs
*.log
npm-debug.log*

# editor/OS
.DS_Store
Thumbs.db

# vite
frontend/.vite/
